.container{
  width: 100%;
  background: #EEF2F4;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}
.crumbsa{
  width: 300px;
  height: 23px;
  margin-left: 30px;
}
.containerBody{
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
}
.navigation{
  width: 362px;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  padding: 78px 30px;
  box-sizing: border-box;
  justify-content: space-between;
}
.navigation-item{
  width: 189px;
  height: 42px;
  background: #FFFFFF;
  text-align: center;
  line-height: 42px;
  margin-bottom: 23px;
  border-radius: 21px;
}
.active{
  background-color: #3478FF;
}
.detailsInfo{
  width: 98%;
  margin-left: 20px;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.details-nav{
  width: 100%;
  height: 78px;
  line-height: 78px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 4px;
  padding-left: 31px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  align-items: center;
}
.rect{
  width: 4px;
  height: 13px;
  background: #2D69DE;
  position: relative;
  top: 3px;
}
.nav-text{
  width: 83px;
  font-size: 20px;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #333333;
  margin-left: 21px;
  line-height: 27px;
}
.details-base{
  width: 100%;
  padding-left: 10px;
  margin-top: 15px;
  background-color: #fff;
}